html, body {
    background-color: #dee5db;
}


.page{
    width: 900px;
    margin: auto;
    padding: 10px;
    padding-top: 15px;
    background-color: white;
    border-radius: 40px;
} 

/* Text Alignment */
#c-align {
    text-align: center;
}

.title-container{
    position:absolute;
    left: 30rem;
    top: 3rem;
    opacity: 1
}

.text-container{
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}


/* Figure Alignment */
#banner {
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}

.outer {
    display: flex;
    flex-wrap: wrap;
}


/* Class */


.pure-u-1 {
    width: 100vw;
}

.pure-u-1 img {
    width: 100vw;
}

.pure-u-1-2 {
    text-align: center;
}


