h1 {
    font-family: 'Ubuntu';
    color: white;
    font-size: 100px;
}

h2 {
    font-family: 'Ubuntu';
    color: white;
    font-size: 50px;
    position: "center";
}

p {
    font-family: 'Ubuntu';
}


/*ID SELECT & CLASS SELECTOR - SEE WK5 PAGE 4*/




